$qq-header-color: #E2F9FC; // color of header background
$qq-background: #FAFEFF; // site background
$qq-neutral: #E2F1F3; // color of elements (buttons)
$qq-neutral-active: #CDE6EA; // active elements
$qq-strong: #C3EAFF; // buttons at header