@font-face {
    font-family: Cinzel;
    src: url("~@/assets/fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: PT-Sans-regular;
    src: url("~@/assets/fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: PT-Sans-bold;
    src: url("~@/assets/fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: Montserrat-regular;
    src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-medium;
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-semi-bold;
    src: url("~@/assets/fonts/Montserrat-SemiBold.ttf");
}